.login {
    width: 30rem;
    height: 28rem;
    margin-top: 4rem;
    margin-left: 26rem;
    background: linear-gradient(
      136deg,
      rgba(49, 114, 131, 0.8) 7.7%,
      rgba(102, 181, 133, 0.8) 77.52%
    );
    mix-blend-mode: darken;
    border-radius: 42px;
    box-shadow: 23px 23px 46px #a1a1a1, -23px -23px 46px #ffffff;
  }
  .text0 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    margin-left: 4rem;
    padding-top: 2rem;
  }
  .text1 {
    color: #576265;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 6rem;
    margin-top: 0.5rem;
  }
  .label1 {
    margin-left: 7rem;
    margin-top: 1.8rem;
  }
  .input1 {
    width: 13rem;
    height: 2.5rem;
    padding-left: 4.5rem;
    color: black;
    outline: none;
    background-image: url("../asserts/email-icon.svg");
    background-position: 1rem;
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    border: none;
    margin-bottom: 1rem;
  }
  .input1::placeholder {
    color: #231f20;
    /* opacity:10; */
    font-weight: 600;
    font-size: 0.9rem;
    padding-top: 0.2rem;
  }
  .input2 {
    width: 13rem;
    height: 2.5rem;
    padding-left: 4.5rem;
    color: black;
    outline: none;
    background-image: url("../asserts/password-icon.svg");
    background-position: 1rem;
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    border: none;
  }
  .input2::placeholder {
    color: #231f20;
    /* opacity:10; */
    font-weight: 600;
    font-size: 0.9rem;
    padding-top: 0.2rem;
  }
  .text2 {
    margin-left: 19rem;
    margin-top: 0.6rem;
    color: #a2ff86;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 0.8rem;
  }
  .button {
    width: 17.65rem;
    height: 2.5rem;
    margin-left: 7rem;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: blue;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    transition: 400ms;
  }
  .line0 {
    background-color: #92f393;
    width: 8rem;
    height: 0.01rem;
    border: none;
    margin-left: 7rem;
    margin-top: 1rem;
  }
  .line3 {
    margin-bottom: 1.3rem;
  }
  .line1 {
    margin-left: 15.5rem;
    margin-top: -1.1rem;
    color: #92f393;
    font-weight: 700;
    font-size: 1rem;
  }
  .line2 {
    background-color: #92f393;
    width: 7.65rem;
    height: 0.01rem;
    border: none;
    margin-left: 17rem;
    margin-top: -0.55rem;
  }
  .button1 {
    width: 17.65rem;
    height: 2.5rem;
    margin-left: 7rem;
    padding-left: 1rem;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    background-image: url("../asserts/google-icon.svg");
    background-position: 1rem;
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
  }
  